body {
  background: #35daec no-repeat;
  width: 71.42857%; }

p {
  color: #2bb60f;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; }

h1 {
  text-transform: capitalize; }
